<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd"
	default-lazy-init="false">

	<!-- 定义受环境影响易变的变量 -->
	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="systemPropertiesModeName" value="SYSTEM_PROPERTIES_MODE_OVERRIDE" />
		<property name="ignoreResourceNotFound" value="true" />
		<property name="locations">
			<list>
				<!-- 标准配置 -->
				<value>classpath*:/properties/application-${env}.properties</value>
			</list>
		</property>
	</bean>

	<bean id="appConfig" class="com.sunway.cbm.util.AppConfig">
		<property name="uploadOrgPicRoute" value="${AppConfig.UploadOrgPicRoute}"></property>
		<property name="uploadCouPicRoute" value="${AppConfig.UploadCouPicRoute}"></property>
		<property name="uploadCatPicRoute" value="${AppConfig.UploadCatPicRoute}"></property>
		<property name="uploadComOrgPicRoute" value="${AppConfig.UploadComOrgPicRoute}"></property>
		<property name="uploadComCouPicRoute" value="${AppConfig.UploadComCouPicRoute}"></property>
		<property name="uploadAPKRoute" value="${AppConfig.UploadAPKRoute}"></property>
		<property name="adminId" value="${AppConfig.AdminId}"></property>
		<property name="adminAccount" value="${AppConfig.AdminAccount}"></property>
		<property name="adminNickname" value="${AppConfig.AdminNickname}"></property>
		<property name="adminPassword" value="${AppConfig.AdminPassword}"></property>
	</bean>

</beans>