@CHARSET "UTF-8";

body {
	margin: 0px;
	padding: 0px;
	font-family: "微软雅黑";
	width: 100%;
	text-align: center;
}

/* bootstrap */
.alert {
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
}

.alert-info {
	color: #31708f;
	background-color: #d9edf7;
	border-color: #bce8f1;
}

.alert-success {
	color: #3c763d;
	background-color: #dff0d8;
	border-color: #d6e9c6;
}

.alert-warning {
	color: #8a6d3b;
	background-color: #fcf8e3;
	border-color: #faebcc;
}

.alert-danger {
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
}

.title-a {
	display: inline-block;
	padding: 1px 3px;
	text-decoration: none;
	color: #fff;
}

/*content body*/
.content-body {
	width: 100%;
	minHeight: 100%;
}

.easyui-tree label {
	cursor: pointer;
}

/* form */
.ftitle {
	font-size: 14px;
	font-weight: bold;
	padding: 5px 0;
	margin-bottom: 10px;
	border-bottom: 1px solid #ccc;
}

.fitem-division{
	width:80px;
	position: relative;
	display: inline-table;
}

.fitem {
	margin-top: 10px;
	position: relative;
	display: inline-table;
}

.fitem label {
	display: inline-table;
	vertical-align: middle;
	width: 80px;
}

.fitem div {
	display: inline-table;
	width: 200px;
}

.fitem div input {
	font-size: 12px;
	font-family: 微软雅黑;
	width: 200px;
}

.fitem textarea {
	font-size: 12px;
	font-family: 微软雅黑;
}

.fitem-info {
	color: #87CEFA;
}